# Virtual Environment
Include/
Lib/
Scripts/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment / Secrets
.env
.env.*
!.env.example

# VS Code
.vscode/

# Other IDEs
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Packaging
*.egg-info/
dist/
build/
.eggs/

/media
/staticfiles