asgiref==3.12.1
boto3==1.43.68
botocore
Django==6.1
django-allauth==65.18.0
django-storages>=1.14.6
gunicorn
jmespath
pillow
psycopg2-binary
python-dateutil
python-dotenv
s3transfer
six
sqlparse
tzdata
urllib3
whitenoise